.chat
  = render partial: "chat_header"
  .messages
    %ul
      = render partial: 'message', collection: @messages
  = render partial: "chat_form", locals: { group: @group, message: @message }
