.header
  .header__upper
    .header__title
      チャットグループ
    .header__edit
      = link_to "Edit", "#", class: "header__edit-link"
  .header__members
    %p.header__member-title
    %ul.header__members
      %li.member
        fumie
